{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="article">
    {% for article in articles %}
    <div class="title">
        <h2>{{ article.title }}</h2>
        {{ article.createdAt }}
    </div>
    <div class="content">
        <p>{{ article.content }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}